@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	outline: 0 none;
	scrollbar-width: none; /* firefox */
}

body {
	background-image: linear-gradient(to bottom right, #2c2c2c 0%, black 100%);

	@apply min-h-screen text-gray-200;
}
